<fieldset>
<%- f.fields_for :selections do |selection_form| %>
  <div class='controls'>
    <%= selection_form.label :banner, :class => 'control-label' %>
    <%= selection_form.select :banner_id, collection: Banner.all, fields: [:url, :id], :class => 'form-control input-with-feedback' %>
  </div>
  <%= selection_form.label :weight, :class => 'control-label' %>
  <div class='controls'>
    <%= selection_form.text_field :weight, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
  <%- unless selection_form.object.new_record? %>
    <%= selection_form.check_box '_destroy' %>
    <%= selection_form.label '_destroy', :caption => 'Remove' %>
  <% end %>
<% end %>
</fieldset>
